.App {
  --main-bg-color: black;
  --main-txt-color: white;
  text-align: center;

  height: 100vh;
  background: url(../Images/pulp-background.jpg) no-repeat center center fixed; 
  background-size: cover;
  color: white;
  background-color: black;

  position: relative;
  font-family: BadMotha;
}

@font-face {
    font-family: BadMotha;
    src: url(./fonts/PioneerITCbyBT-Regular.otf);
}

